/* Admin Dashboard Project
Created using TOP
Michael Schroeder */

* {
    font-family: monospace;
    
}

body {
    margin: 0;
    min-height: 100vh;

}

ul {
    list-style-type: none;
}

a {
    font-size: 22px;
    padding: 8px;
    text-decoration: none; 

}

h2 {
    text-align: center;
}

                /* container css */
.container {
    display: grid;
    grid-template-columns: 250px 1250px;
}


                /* sidebar content */
.sidebar {
    background: rgb(94, 134, 255);
    padding: 16px;
    border: 1px solid blue;
}

.title {
    align-items: center;
    
}

.navigation-links {
    /* border: 1px solid red; */
}

                /* contains header, and main-content */
.body {
    flex: 1;
    flex-direction: column;

}

                /* header content */
.header  {
    height: 72px;
    background: darkmagenta;
    color: white;
    display: flex;
    align-items: center;
    padding: 25px 25px;
    font-size: 12px;    
    font-weight: 900;
    /* border: 5px solid green; */

}

.greeting-page {
    border: 1px solid red;
    font-size: 8px;

}

                /* main content  */
.main-content {
    display: grid;
    grid-template-columns: 750px 750px;
    max-width: 15%;
}

.card {
    border-radius: 8px black;
    box-shadow: 25px 50px 38px rgba(0,0,0,.06);
    border-radius: 16px;
    padding: 25px;
    margin: 16px;
    width: 300px;
    
}

.cards {
    display: grid;
    grid-template-columns: 350px 350px;
    margin-right: 42%;
    border-radius: 4px;
}

.announcements {
    max-width: 300px;

}

.trending {
    max-width: 300px;
}

.sidebar-container {
    
}